
// Custom.scss
// Option A: Include all of Bootstrap

@import "../node_modules/bootstrap/scss/bootstrap";

.margin{
    margin-top: 1.5rem;
}

.container{
    max-width: 960px;
}

.contattaci{ 
    
    &_box-contatti{
            height: 70vh;
            padding-bottom: 10rem;
            
            background-color: $red-200;
            &--intestazione{}
            &--recapiti{
              
                display: flex;
                justify-content: center;
                align-items: center;                
            }
    }

    &_box-contatto{
            
        width: auto;
        padding: 10rem 2rem;
        height: auto;
        
        &--insta{
            background-color: pink;             
        }
        &--mail{
            background-color: powderblue;
        }
        &--fb{
            background-color: royalblue;
        }
        &--cell{
            background-color: sandybrown;
        }
/* 
        &>i{
            display: block;
        }
        &>p{
            margin: 10px;
            display: block;
        } */

    }

}




.contattaci_recensione{
    min-height: 30rem;
    padding: 3em 3em;
    border: black solid 3px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px black;
    margin: 10rem auto;
    /* "DACCI UN VOTO" */
    &-intestazione{
        padding-bottom: 20px;
       color: $red-600; 
    }
    /*STELLE + FORM*/
    &-punteggio{
        width: auto;
        height: auto;
        background: rgb(175, 175, 175);
        padding: 1rem 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        /*COLORAZIONE STELLE*/
        &--star {     
                
            & input{
                display: none;

                &:not(:checked) ~ label:hover, &:not(:checked) ~ label:hover ~ label{
                
                color: rgb(223, 35, 35);
                }

                &:checked ~ label{
                      color: rgb(223, 35, 35);
                }

                &#rate-5:checked ~ label{
                    color: rgb(235, 46, 46);
                    text-shadow: 0 0 20px rgb(177, 50, 50);
                }

            }   

            & label{
                
                font-size: 30px;
                color: rgb(255, 146, 146);
                padding: 10px;
                float: right;
                transition: all 0.2s ease;  
            }   
            
        }

        &--form{
            &-textarea{
                outline: none;
                background-color: rgb(216, 100, 100); /* Green */
                box-shadow: -5px 8px  #ff9999;
                border-color: rgb(216, 110, 110);
                color: black;
                padding: 0.7rem 2.8rem;
                text-decoration: none;
                display: inline-block;     
                
            }
            &-textarea::placeholder{
                color: rgb(255, 240, 232);
            }

            &-textarea:hover{
                background-color: rgb(255, 219, 198); /* Green */
                border-color: rgb(255, 219, 198);
                
            }

            &-btn{
                background-color: white; /* Green */
                border: solid 3px #ff9999;
                border-radius: 0.5rem;
                color: black;
                padding: 0.5rem 4rem;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 1rem;
                box-shadow: -5px 8px  rgb(255, 81, 81);
                transition: all 0.2s ease;  
            }
            &-btn:hover{
                color: rgb(177, 50, 50);               
            }
            &-btn:focus{
                outline: none;
                
            }
        }
    
       /*  &--descrizione{
            display: none;
        }
        &--messaggio{
            
            width: 100%;
            & form {
                
               & header{
                    color: red;
                    font-size: 17px;
                    transition: all 0.2s ease;
                }
             }
        } */

    }
    
}


#rate-1:checked ~ .result::before{
    content: "Pessimo";
}
#rate-2:checked ~ span#recensione_commento::before{
    content: "Non un granchè";
}
#rate-3:checked ~ span#recensione_commento::before{
    content: "Buono";
}
#rate-4:checked ~ span#recensione_commento::before{
    content: "Molto buono";
}
#rate-5:checked ~ span#recensione_commento::before{
    content: "Fantastico";
}
