
// Option A: Include all of Bootstrap
// contattaci.scss
@import "./bootstrap/bootstrap.scss";

.contattaci{
    &_box-contatti{
            height: 70vh;
            width: 100%;
            background-color: $red-200;
    }

    &_box-contatto{
        
        background-color: yellow;
        width: 80%;

        &--insta{
            
        }
        &--mail{
            
        }
        &--fb{
            
        }
        &--cell{
            
        }

    }


}




